<div id="dealer-info">
	<nav>
		<ul>
			<li>Dealers and Distributors {{this.dealers.zipcode}}</li>
			<li class="commercial">Commercial Service</li>
		</ul>
	</nav>
</div>
<!-- start of header -->
	<header>
		<div id="header-inner">
			<a href="#" id="logo" > <img src="../assets/images/pool-pros-logo.png"></a>
			<nav>
				<a id="menu-icon" (click)="showMenu()"></a>
				<ul class="nav-tabs">
					<li>Pools & Spas</li>
					<li>Supplies</li>
					<li>Resources</li>
					<li>Services</li>
				</ul>
				<ul class="findPool"><li>Find a Pool Pro</li></ul>
			</nav>
		</div>
	</header>
	<section class="mobile-menu" *ngIf="!hideMobileMenu">
		<div class="close" (click)="hideMenu()">X</div>
		<div class="menu">MENU</div>
		<ul class="mobile-menu-tabs">
			<li (click)="hideMenu()">Pools & Spas</li>
			<li (click)="hideMenu()">Supplies</li>
			<li (click)="hideMenu()">Resources</li>
			<li (click)="hideMenu()">Services</li>
		</ul>
	</section>
	<!-- end of header -->
	<!-- start of banner -->
	<section class="banner">
		<div class="banner-inner">
			<img src="../assets/images/water-image.png">
		</div>
	</section>
	<!-- end of banner -->
	<!-- start of filter -->
	<section class="filter">
		<div class="filter-options">
			  <label class="dealers-found">7 delears in 28266</label>
			  <label class="filter-results">Filter Results</label>
				<div class="filter-services">
				<label *ngFor="let service of services" [ngClass]="{'filter-commercial': service.name == 'Commercial Pro'}" >
					<input type="checkbox" [(ngModel)]="service.selected" (change)="checkIfAllSelected(service);">{{service.name}}
				</label>
			</div>
		  </div>
	</section>
	<!-- end of filter -->
	<!-- start of pools contact info -->
	<section class="inner-wrapper">
		<section class="one-third" *ngFor="let dealer of dealers.dealers">
				<div class="pool-header">{{dealer.data.name}}</div>
				<div class="pool-contact">
					<div class="mobile-phone">
						<span class="phone">{{dealer.data.phone1}}</span>
					</div>
					<span class="phone-text">Can't talk now? Click below to send an email</span>
				</div>

				<div class="email-wrapper" mat-button (click)="openDialog(dealer.data.name)">
					<div class="pool-email">Contact this Pro</div>
				</div>
				<div class="pool-hours">
						<p>Business Hours</p>
						<p class="open-hours">Weekdays 7:00am - 7:00pm<br/>
							Saturdays 7:00am - 3:00pm<br/>
							Sundays - CLOSED</p>
				</div>
				<div class="pool-footer">
					<div class="pool-services">
						<div *ngFor="let service of dealer.data.certifications"
						[ngClass]="{'commercial': service == 'Commercial Pro', 'installation': service == 'Installation Pro',
						'service': service == 'Service Pro','residential': service == 'Residential Pro'}">{{service}}</div>
					</div>
				</div>
		</section>
	</section>
	<!-- end of pools contact info -->
	<!-- start of footer -->
	<footer class="first">
		<img class="footer-logo" src="../assets/images/pool-pros-logo-footer.png">
  <ul class="social">
    <li>CONNECT WITH US</li>
		<li><a href="#"><i class="icon-twitter"></i></a></li>
    <li><a href="#"><i class="icon-facebook"></i></a></li>
    <li><a href="#"><i class="icon-youtube"></i></a></li>
  </ul>
	</footer>
	<!-- end of footer -->
	<footer class="dealer-footer">
		<div class="dealer-info-footer">
				<ul>
					<li>Dealers and Distributors</li>
					<li>|</li>
					<li class="commercial">Commercial Service</li>
				</ul>
		</div>
</footer>
	<!-- start of footer -->
	<footer class="second">
		<ul class="copyright">
			<li>&copy;2017 Pool Pros</li>
      <li>|</li>
			<li>Privacy Policy</li>
      <li>|</li>
			<li>Terms and Conditions</li>
		</ul>
	</footer>
	<!-- end of second footer-->
