<div class="modal-header">
  <h3>EMAIL</h3>
  <h1>{{data}}</h1>
  <button class="close-modal" mat-raised-button (click)="dialogRef.close()">X</button>
</div>
<div class="modal-body">
  <p>Fill out the form below and {{data}} will get in touch</p>
  <div class="modal-form">
    <form #ngForm="ngForm" (submit)="poolFormSubmit(ngForm)" >
      <div class="form-elements">
        <label>First and last name</label>
        <div class="name">
          <span [ngClass]="{'checked':(ngForm.controls.name?.dirty || ngForm.controls.name?.touched),
          'unchecked':(!ngForm.controls.name?.dirty || !ngForm.controls.name?.touched) }"></span>
          <input type="text" class="first-name" name="name" ngControl="name" [(ngModel)]="name">
        </div>
        <label>Phone number</label>
        <div class="phone">
          <span [ngClass]="{'checked':(ngForm.controls.phone?.dirty || ngForm.controls.phone?.touched),
          'unchecked':(!ngForm.controls.phone?.dirty || !ngForm.controls.phone?.touched) }"></span>
          <input type="text" class="phone-number" name="phone" ngControl="phone" [(ngModel)]="phone">
        </div>
          <label>Email address</label>
        <div class="email">
          <span [ngClass]="{'checked':(ngForm.controls.email?.dirty || ngForm.controls.email?.touched),
          'unchecked':(!ngForm.controls.email?.dirty || !ngForm.controls.email?.touched) }"></span>
          <input type="text" class="email-address" name="email" ngControl="email" [(ngModel)]="email">
      </div>
        <label>Comments or questions</label>
        <div class="comments">
          <span>Optional</span>
        <textarea class="comments"></textarea >
        </div>
        <label>Do you currently own a pool or spa?</label>
        <div class="ownPool">
          <span>Optional</span>
        <input id="toggle-on" name="toggle" type="radio"><label class="radio-label" for="toggle-on">Yes</label>
        <input id="toggle-off" name="toggle" type="radio"><label class="radio-label" for="toggle-off">No</label>
      </div>
    </div>
      <label class="send-email" (click)="dialogRef.close()">Send my email<div class="submit"></div></label>
    </form>
</div>
</div>
<div class="modal-footer">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur cursus nunc in mi porta efficitur. Fusce ut magna felis.
   Maecenas vel lacus molestie, auctor enim vel, consequat ligula. Cras ac pharetra ligula. Aliquam vitae massa dictum ipsum rhoncus feugiat.
</div>
