/* You can add global styles to this file, and also import other style files */

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: normal;
	src: url(assets/open-sans/OpenSans-Regular.ttf) format('truetype');
}
* {
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	background: #FFF;
	color: #333;
	font-family: 'Open Sans'
}

h2 {
  font-size: 250%;
  font-weight: 700;
  text-align: center;
  padding-top: 2%;
}
h3{
  font-size: 175%;
  font-weight: 400;
  text-align: center;
  padding: 5% 0;
  line-height: 155%
}
p {
	font-size: 160%;
	line-height: 150%;
	padding: 3%;
	text-indent: 2%;
	text-align: justify;
}
img {
	max-width: 100%;
	height: auto;
	width: auto;
	margin-bottom: -4px;
}
header {
	width: 100%;
}
#footer-strip {
  display: hidden;
}
#header-strip {
	background-color: #0E408A;
	height: 35px;
	max-width: 100%;
	margin: 0 auto;
}
#header-strip nav {
	height: 35px;
	float: right;
  margin-right: 5%;
}
#header-strip nav ul li {
	font-family: 'Open Sans';
	color: #FFF;
	font-size: 70%;
	display: inline-block;
	float: left;
	padding: 10px 20px 0 25px;
}
#header-strip nav ul li.commercial {
  background: url(assets/images/action-commercial-icon.png) no-repeat;
  background-size: 10%;
  background-position: center right;
  float: left;
  padding: 8px 20px 8px 8px;
}
#header-inner {
	max-width: 100%;
	margin: 0 auto;
}
#header-inner nav {
	float: right;
	padding: 25px 20px 0 0 ;
}
.nav-tabs {
  display: inline-block;
}
#header-inner nav ul li {
	font-size: 80%;
	display: inline-block;
	float: left;
	padding: 10px 25px 10px 25px;
	text-decoration: none;
  color: #1F4E92;
}
#header-inner .findPool {
	border: 1px solid #3D7EDF;
	border-radius: 2px;
  display: inline-block;
  margin-left: 30px;
}
#header-inner .findPool li{
  list-style-type: none;
  color: #4180E0;
  background: url(assets/images/location-icon.png) no-repeat;
  background-size: 7%;
  background-position: 15px 13px;
  padding: 10px 10px 10px 30px;
}
#logo {
	margin: 30px 30px 20px 45px;
	float: left;
	width: 150px;
	height: 60px;
}

/* -- Navigation -- */
#menu-icon {
	display: hidden;
	width: 40px;
	height: 40px;
	background: url(assets/images/menu-icon-mobile.png) center;
}
a:hover#menu-icon {
	border-radius: 4px 4px 0 0;
}
ul {
	list-style-type: none;
}
/* --End Navigation -- */

.banner {
	width: 100%;
	background-color: #FFF;

}
.banner-inner {
	max-width: 100%;
	margin: 0 auto;

}
.filter{
  margin: 0 auto 20px auto;
  max-width: 80%;
  height: 50px;
  background-color: #F6F6F6;
  border-radius: 2px;
  position: relative;
  top: -50px;
}
label {
  padding-left: 15px;
  text-indent: -15px;
  font-size: 70%;
}
input {
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0px 10px 0px 10px;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}
.filter-options {
  text-align: center;
  padding-top: 1.5%;
}
.filter-options .dealers-found {
  font-size: 80%;
  font-weight: 500;
  color: #2870DC;
  border-right: 1px solid #C0C0C0;
  padding-right: 20px;
}
.filter-options .filter-results {
  font-size: 80%;
  font-weight: 500;
  color: #333;
}
.filter-commercial{
  background: url(assets/images/tool-tip-icon-filtering.png) no-repeat;
  background-size: 12%;
  background-position: center right;
  padding: 8px 20px 8px 8px;
}
.inner-wrapper {
  margin: 0 auto;
  max-width: 1200px;
}
.one-third {
  width: 28%;
  float: left;
  text-align: center;
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  margin: 10px 10px 50px 10px;
  box-shadow: 0px 0px 2px 2px #cecece;
}
.pool-header {
  font-family: 'Open Sans';
  margin: 10px;
  border-bottom: 1px solid #c3c3c3;
  color: #757575;
  font-size:150%;
  height:80px;
}
.pool-contact {
  padding: 20px 0 0 20px;
}
.pool-contact .phone{

  display: block;
  color: #000;
  font-weight: 400;
  font-size: 100%;
  background: url(assets/images/phone-icon-desktop.png) no-repeat;
  background-size: 20px;
  background-position: center left;
  padding: 8px 8px 8px 20px;
  width: 50%;
  margin: 0 auto;

}
.pool-contact .phone-text{
  display: block;
  font-size: 70%;
  font-style: italic;
  color: #757575;
  padding-bottom: 10px
}
.pool-email {
  margin: 0 auto;
  width: 50%;
  border: 1px solid #A4E8E7;
  margin-bottom: 20px;
  text-align: center;
  font-size: 70%;
  color: #0E408A;
  background: url(assets/images/email-icon.png) no-repeat left;
  background-size: 7%;
  background-position: center left;
  padding:8px 8px 8px 0px;
}
.pool-hours {
  margin-bottom: 25px;
}
.pool-hours p {
  font-size: 70%;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: center;
}
.pool-hours .open-hours{
  color: #757575;
  font-weight: normal;
  font-size: 70%;
}
.pool-footer{
  clear: both;
  text-align: center;
  font-size: 70%;
  color: #757575;
  padding: 20px 10px 10px 10px;
  background-color: #F6F6F6;
}
.pool-footer table, .pool-footer table tr {
  width: 100%;
}
.pool-footer table td{
  width: 50%;
  padding-bottom: 2%;
}
/* -- start footer -- */
footer.first {
  background: #0E408A;
  width: 100%;
  clear: both;
  height: 90px;
}
.footer-logo {
  margin: 0 auto;
  display: block;
  padding: 2% 0 1% 0;
  width: 120px;
}
.icon-twitter {
  background: url(assets/images/twitter-icon.png) no-repeat center;
  background-size: 15px;
}
.icon-facebook {
  background: url(assets/images/facebook-icon.png) no-repeat center;
  background-size: 7px;
}
.icon-youtube {
  background: url(assets/images/youtube-icon.png) no-repeat center;
  background-size: 12px;
}
.social, .copyright {
  list-style-type: none;
  text-align: center;
  font-size: 50%;
  color: #fff;
}
.social li:first-child {
  margin-right: 20px;
}
.social li, .copyright li{
  display: inline;
}
.social i{
  margin: 0;
  padding: 1%;
  color: #FFF;
}
.social i:hover{
  color: #f5f5f5;
}
footer.second {
  background-color: #2870DC;
  max-height: 25px;
  padding: 5px;
}
.copyright li {
  margin-right:10px;
}
/* -- footer -- */

/* -- start of media queries -- */
@media screen and ( max-width: 768px){
  h2 {
    font-size: 150%;
  }
  h3 {
    font-size: 125%;
  }
  p {
    font-size: 120%;
  }
  header {
    position: absolute;
  }
  #header-strip {
    display: hidden;
  }
  #footer-strip {
    display: block;
  	background-color: #2870DC;
  	height: 35px;
  	max-width: 100%;
  	margin: 0 auto;
  }
  #footer-strip div {
  	height: 35px;
  	float: right;
    margin-right: 5%;
  }
  #footer-strip div ul li {
  	font-family: 'Open Sans';
  	color: #FFF;
  	font-size: 50%;
  	display: inline-block;
  	float: left;
  	padding: 10px 20px 0 25px;
  }
  #footer-strip div ul li.commercial {
    background: url(assets/images/action-commercial-icon.png) no-repeat;
    background-size: 10%;
    background-position: center right;
    float: left;
    padding: 8px 20px 8px 8px;
  }
  #logo {
    margin: 15px 0 20px -25px;

  }
  #menu-icon {
    display: inline-block;
    background: url(/assets/images/menu-icon-mobile.png) no-repeat center;
  }
  nav ul, nav:active ul {
    display: none;
  }

}
