/* You can add global styles to this file, and also import other style files */

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: normal;
	src: url(assets/open-sans/OpenSans-Regular.ttf) format('truetype');
}
* {
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	background: #FFF;
	color: #333;
	font-family: 'Open Sans';
	height: 100%;
}
p {
	font-size: 160%;
	line-height: 150%;
	padding: 3%;
	text-indent: 2%;
	text-align: justify;
}
img {
	max-width: 100%;
	height: auto;
	width: auto;
	margin-bottom: -4px;
}
header {
	width: 100%;
	height: 100px;
}
#dealer-info {
	background-color: #0E408A;
	height: 35px;
	max-width: 100%;
	margin: 0 auto;
}
#dealer-info nav {
	height: 35px;
	float: right;
  margin-right: 5%;
}
#dealer-info nav ul li {
	font-family: 'Open Sans';
	color: #FFF;
	font-size: 70%;
	display: inline-block;
	float: left;
	padding: 10px 20px 0 25px;
}
#dealer-info nav ul li.commercial {
  background: url(assets/images/action-commercial-icon.png) no-repeat;
  background-size: 10%;
  background-position: center right;
  float: left;
  padding: 8px 20px 8px 8px;
}
#header-inner {
	max-width: 100%;
	margin: 0 auto;
}
#header-inner nav {
	float: right;
	padding: 20px 0px 0 0 ;
  margin-right: 5%;
}
.nav-tabs {
  display: inline-block;
}
#header-inner nav ul li {
	font-size: 80%;
	display: inline-block;
	float: left;
	padding: 10px 25px 10px 25px;
	text-decoration: none;
  color: #1F4E92;
	font-weight: bold;
}
#header-inner .findPool {
	border: 1px solid #3D7EDF;
	border-radius: 2px;
  display: inline-block;
  margin-left: 30px;
}
#header-inner .findPool li{
  list-style-type: none;
  color: #4180E0;
  background: url(assets/images/location-icon.png) no-repeat;
  background-size: 7%;
  background-position: 15px 13px;
  padding: 10px 10px 10px 30px;
}
#logo {
	margin: 30px 30px 20px 45px;
	float: left;
	width: 150px;
	height: 21px;
}

/* -- Navigation -- */
#menu-icon {
	display: hidden;
	width: 40px;
	height: 40px;
	background: url(assets/images/menu-icon-mobile.png) center;
}
a:hover#menu-icon {
	border-radius: 4px 4px 0 0;
}
ul {
	list-style-type: none;
}

.mobile-menu {
  display: none;
}
/* --End Navigation -- */

.banner {
	width: 100%;
	background-color: #FFF;
	clear: both;
}
.banner-inner {
	max-width: 100%;
	margin: 0 auto;
	border-top: 1px solid #ccc;
	box-shadow:
	inset 0px 11px 8px -10px #CCC;
}
.banner-inner img {
}
.filter{
  margin: 0 auto 20px auto;
  max-width: 90%;
  height: 50px;
  background-color: #F6F6F6;
  border-radius: 2px;
  position: relative;
  top: -65px;
}
.mobile-filter{
  display: none;
}
label {
  padding-left: 15px;
  text-indent: -15px;
  font-size: 70%;
}
input {
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0px 10px 0px 10px;
  vertical-align: bottom;
  position: relative;
  top: -2px;
  *overflow: hidden;
}
.filter-options {
  text-align: center;
  padding-top: 1.5%;
}
.filter-options .dealers-found {
  font-size: 100%;
  font-weight: bold;
  color: #2870DC;
  border-right: 1px solid #C0C0C0;
  padding-right: 20px;
}
.filter-options .filter-results {
  font-size: 100%;
  font-weight: bold;
  color: #333;
}
.filter-commercial{
  background: url(assets/images/tool-tip-icon-filtering.png) no-repeat;
  background-size: 20px;
  background-position: center right;
  padding: 8px 20px 8px 8px;
}
.inner-wrapper {
	margin: 0 auto;
	clear: both;
	max-width: 1200px;
	top: -60px;
	position: relative;
	left: 5%;
	right: 5%;
}
.one-third {
  width: 28%;
  float: left;
  text-align: center;
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  margin: 10px 10px 50px 10px;
  box-shadow: 0px 0px 2px 2px #cecece;
}
.pool-header {
  font-family: 'Open Sans';
  margin: 10px;
  border-bottom: 1px solid #c3c3c3;
  color: #757575;
  font-size:120%;
  height:80px;
}
.pool-contact {
  padding: 20px 0 0 20px;
}
.pool-contact .phone{
  display: block;
  color: #000;
  font-weight: bolder;
  font-size: 100%;
  background: url(assets/images/phone-icon-desktop.png) no-repeat;
  background-size: 20px;
  background-position: center left;
  padding: 8px 8px 8px 20px;
  width: 50%;
  margin: 0 auto;
}

.pool-contact .phone-text{
  display: block;
  font-size: 70%;
  font-style: italic;
  color: #757575;
  padding-bottom: 10px
}
.pool-email {
  margin: 0 auto;
  width: 72%;
  border: 1px solid #A4E8E7;
  margin-bottom: 20px;
  text-align: center;
  font-size: 70%;
	font-weight: bold;
  color: #0E408A;
  background: url(assets/images/email-icon.png) no-repeat;
  background-size: 15px;
  background-position: 10px 10px;
  padding:8px 8px 8px 0px;
}
.pool-hours {
  margin-bottom: 25px;
}
.pool-hours p {
  font-size: 70%;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: center;
}
.pool-hours .open-hours{
  color: #757575;
  font-weight: normal;
  font-size: 70%;
}
.pool-footer {
  font-size: 70%;
  color: #757575;
	height: 70px;
  padding: 10px 10px 10px 10px;
  background-color: #F6F6F6;
}
.pool-services {
	width: 100%;
}
.pool-services div {
  float: left;
  margin-left: 10px;
  padding-left: 15px;
  margin-top: 15px;
  width: 35%;
}
div.installation{
	background: url(assets/images/star-installation-pro.png) no-repeat;
	background-size: 15px;

}
div.service{
	background: url(assets/images/gear-service-pro.png) no-repeat;
	background-size: 15px;
	text-align: left;
	padding-left:25px;
}
div.residential{
	background: url(assets/images/home-residential-pro.png) no-repeat;
	background-size: 15px;
}
div.commercial{
	background: url(assets/images/users-commercial-pro.png) no-repeat;
	background-size: 15px;
}
/* -- start footer -- */
footer.first {
  background: #0E408A;
  width: 100%;
  clear: both;
  height: 90px;
}
.footer-logo {
  margin: 0 auto;
  display: block;
  padding: 2% 0 1% 0;
  width: 120px;
}
.icon-twitter {
  background: url(assets/images/twitter-icon.png) no-repeat center;
  background-size: 15px;
}
.icon-facebook {
  background: url(assets/images/facebook-icon.png) no-repeat center;
  background-size: 7px;
}
.icon-youtube {
  background: url(assets/images/youtube-icon.png) no-repeat center;
  background-size: 12px;
}
.social, .copyright, .dealer-info-footer ul {
  list-style-type: none;
  text-align: center;
  font-size: 50%;
  color: #fff;
}
.social li:first-child {
	margin-right: 20px;
	font-weight: bold;
	font-size: 150%;
}
.social li, .copyright li,  .dealer-info-footer ul li{
  display: inline;
}
.social i{
  margin: 0;
  padding: 1%;
  color: #FFF;
}
.social i:hover{
  color: #f5f5f5;
}
footer.second {
  background-color: #2870DC;
  max-height: 25px;
  padding: 5px;
}
.copyright li {
  margin-right:10px;
}
.dealer-footer{
	display: none;
	width: 100%;
	background-color: #2870DC;
}
.dealer-info-footer {
	background-color: #2870DC;
	max-height: 25px;
	padding: 5px;
	border-bottom: 1px solid #ccc;
}
.dealer-info-footer ul li {
	  margin-right: 10px;
}
.dealer-info-footer ul li.commercial {
  background: url(assets/images/action-commercial-icon.png) no-repeat;
  background-size: 10%;
  background-position: center right;
  padding: 8px 20px 8px 8px;
}
/* -- footer -- */
/* -- Start of Modal -- */
h1 {
  font-size: 150%;
  font-weight: 400;
  text-align: left;
  padding: 0 0 20px 20px;
}
h2 {
  font-size: 120%;
  font-weight: bold;
  text-align: left;
  padding-top: 2%;
}
h3{
	font-size: 90%;
	font-weight: bold;
	text-align: left;
	padding: 20px 0 0px 20px;
	line-height: 155%;
}
.modal-header{
  background-color: #0E408A;
  height: 100px;
  color:#FFF;
  font-size: 100%;
}
.modal-header .close-modal {
  font-weight: bolder;
    float: right;
    margin-top: -87px;
    margin-right: 15px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    font-size: 100%;
}
.modal-body {
	margin: 20px;
}
.modal-body p {
	font-size:80%;
	color: #757575;
	text-align: left;
  margin-left:-14px;
}
.modal-form {
	background-color: #F6F6F6;
	padding: 20px;
}
.modal-form label{
	display: block;
	font-size: 80%;
	font-weight: bold;
}
.modal-form input{
	width: 97%;
	padding: 0;
	margin: 10px 0 10px 0;
  padding: 0 10px;
	height: 40px;
	border: 1px solid #ccc;
}
.name, .email {
  width: 97%;
  margin-top: -20px;
}
.comments span , .ownPool span{
  color: #ccc;
  float: right;
  margin-top: -20px;
  font-style: italic;
  font-size: 80%;
  margin-top: -20px;
}
.phone{
	width: 50%;
  margin-top:-20px;
}
.modal-form .phone input{
  width: 94%
}
.modal-form textarea{
	width: 100%;
	height: 100px;
	border: 1px solid #ccc;
	margin:10px 0 10px 0;
  padding: 0 10px;
}
.modal-form label.send-email{
	text-align: center;
	color: #000;
	font-weight: bolder;
	font-size: 90%;
  width: 113px;
  margin:0 auto;
  cursor: pointer;
}
.checked {
  background: url(assets/images/checkmark-circle.png) no-repeat;
  background-size: 60%;
  background-position: 14px;
  float: right;
  width: 33px;
  height: 20px;
}
.unchecked{
  background: url(assets/images/circle-form.png) no-repeat;
  background-size: 60%;
  background-position: 14px;
  float: right;
  width: 33px;
  height: 20px;
}
.form-elements{
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
}
.modal-footer {
	background-color: #F6F6F6;
	padding: 30px;
	font-size:60%;
}

.modal-form input[type="radio"] {
    display: none;
}

.modal-form label.radio-label {
  padding: 5px 25px;
  background-color: #FFF;
  border: 1px solid #999;
  border-radius: 2px;
  margin:10px 0 10px 0;
  display: inline-block;
}
.modal-form label.radio-label {
  background-color: #FFF;
	color: #757575;
}

input[type="radio"]:checked + label {
    background-color: #21C4C3;
    cursor: default;
    color: #FFF;
}
.cdk-overlay-pane .mat-dialog-container{
  padding: 0 ;
}
.error-msg{
  background: url(assets/images/circle-form.png)
}
.submit {
  background: url(assets/images/next-arrow.png) no-repeat;
  background-size:45%;
  background-position: 10px;
  float: right;
  padding: 11px 20px 8px 8px;
}
.filter-services{
  display: inline;
}
/* -- End of Modal -- */
/* -- start of media queries -- */

@media screen and (min-width: 790px) and ( max-width: 940px){
/*take care of filter*/
  .filter-options .dealers-found, .filter-options  .filter-results {
    font-size:80%
  }
  label {
    padding: 0;
  }
  .filter {
    top: -40px;
  }
  .one-third {
    width:40%;
  }
  .inner-wrapper {
    top: -30px;
  }
  #header-inner nav ul li{
    padding:10px;
  }
}
@media screen and (min-width: 361px) and ( max-width: 789px){
/*take care of navigation*/
  #logo {
    margin:30px 0px 20px 25px;
  }
  #header-inner nav ul li {
    padding: 10px;
  }
  .one-third{
    width:82%;
    margin-bottom: -10px;
  }

  h2 {
    font-size: 150%;
  }
  h3 {
    font-size: 125%;
  }
  p {
    font-size: 120%;
  }
  header {
    position: absolute;
  }

  #dealer-info {
  	display: none;
  }
	.dealer-info-footer {
		margin: 0 30% 0 30%;
	}
  .dealer-footer {
    display: block;
  }
  #logo {
    margin: 15px 0 20px -25px;
  }
  #menu-icon {
    display: inline-block;
    background: url(/assets/images/menu-icon-mobile.png) no-repeat center;
  }
  nav ul, nav:active ul {
    display: none;
  }
  .social i{
    padding:3%
  }
  .pool-header {
    border-bottom: none;
    height:10px;
    margin:20px;

  }
	.dealer-info-footer {
		margin: 0 15% 0 15%;
	}
  .one-third{
    width:82%;
    margin-bottom: -10px;
    box-shadow: none;
  }
  /*header and filter */
  header {
    position: relative;
  }
  #header-inner nav {
    padding: 8px 0 0 0;
    margin-right:50px;
  }
  #header-inner nav .nav-tabs {
  display:none;
}
#menu-icon {
  cursor: pointer;
  display: inline-block;
  background: url(/assets/images/menu-icon-mobile.png) no-repeat center;
  background-size: 42px;
  background-position: center right;
  position: absolute;
  right: 0;
}
.banner {
  margin-top:-44px;
}
#logo {
    margin: 15px 0 20px 5px;
  }
.inner-wrapper {
  top: -10px;
}
.filter-options .dealers-found, .filter-options .filter-results{
  font-size: 80%;
}
.filter{
  display: block;
  background-color:#F6F6F6;
  padding:10px;
  top:0;
  height: auto;
  margin:0;
  max-width: 100%
}
.filter .filter-services {
  margin:10px;
  background-color:#FFF;
}
.filter-commercial {
  padding: 0;
  background-size:20px;
  background-position: 140px;
}
.filter .filter-services label{
  display: block;
  text-align: left;
  margin: 10px;
  padding-left: 35px;
}
.social i{
  padding:3%;
}
.pool-contact div.mobile-phone {

}
.pool-contact div.mobile-phone .phone{
  background: url(assets/images/phone-icon-mobile.png) no-repeat;
  background-size: 30px;
  background-position: 5px;
  margin:10px auto;
  color:#fff;
  background-color: #2870DC;
  width:45%;
  padding-left: 30px;
}

.modal-form .phone input {
  width:85%
}
.modal-form .phone{
  width: 86%;
}
.mobile-menu {
  display: block;
  margin: auto;
  width: 100%;
  border-top: 4px solid #21C4C3;
  border-bottom: 4px solid #21C4C3;
  height: 350px;
  position: absolute;
  z-index: 9999;
  top: 0;
  background-color: #fff;
}
.mobile-menu .close{
  color: #21C4C3;
  text-align: right;
  height: 6px;
  padding: 20px 20px 20px 0;
  font-weight: bolder;
  font-size:150%;
  cursor: pointer;
}
.mobile-menu div.menu {
  text-align: center;
  font-weight: bolder;
  font-size:120%;
  color: #0E408A;
  margin: 0 0 20px 0;
}
.mobile-menu div.menu, .mobile-menu-tabs{
    float: right;
    background: white;
    width: 100%;
    position: relative;
    border-radius: 3px;
    padding: 10px 0 0 0;
}
.mobile-menu-tabs {
  background-color: #F6f6f6;
}
.mobile-menu-tabs li{
  margin: 0px auto;
  padding: 20px 20px 20px 20px;
  border-bottom: 2px solid #FFF;
  background: url(assets/images/next-arrow.png) no-repeat;
  background-size:10%;
  background-size: 15px;
  background-position: 90%;
  height: 17px;
  cursor: pointer;

}
.mobile-menu-tabs li:last-child{
  border-bottom: none;
}
span.phone:before {
  content: "Tap to call";
  padding-right: 10px;
  font-size: 70%;
}
div.installation{
	background-size: 15px;
  background-position: 30px;
}
div.service{
	background-size: 15px;
	text-align: left;
	padding-left:53px;
  background-position: 30px;
}
div.residential{
	background-size: 15px;
  background-position: 30px;
}
div.commercial{
	background-size: 15px;
  background-position: 30px;
}
}
/*mobile*/
@media screen and (min-width: 0px) and ( max-width: 360px){
/*take care of navigation*/
  #logo {
    margin:30px 0px 20px 25px;
  }
  #header-inner nav ul li {
    padding: 10px;
  }
  .one-third{
    width:82%;
    margin-bottom: -10px;
  }

  h2 {
    font-size: 150%;
  }
  h3 {
    font-size: 125%;
  }
  p {
    font-size: 120%;
  }
  header {
    position: absolute;
  }

  #dealer-info {
  	display: none;
  }
	.dealer-info-footer {
		margin: 0 30% 0 30%;
	}
  .dealer-footer {
    display: block;
  }
  #logo {
    margin: 15px 0 20px -25px;
  }
  #menu-icon {
    display: inline-block;
    background: url(/assets/images/menu-icon-mobile.png) no-repeat center;
  }
  nav ul, nav:active ul {
    display: none;
  }
  .social i{
    padding:3%
  }
  .pool-header {
    border-bottom: none;
    height:10px;
    margin:20px;

  }
	.dealer-info-footer {
		margin: 0 15% 0 15%;
	}
  .one-third{
    width:82%;
    margin-bottom: -10px;
    box-shadow: none;
  }
  /*header and filter */
  header {
    position: relative;
  }
  #header-inner nav {
    padding: 8px 0 0 0;
    margin-right:50px;
  }
  #header-inner nav .nav-tabs {
  display:none;
}
#menu-icon {
  cursor: pointer;
  display: inline-block;
  background: url(/assets/images/menu-icon-mobile.png) no-repeat center;
  background-size: 42px;
  background-position: center right;
  position: absolute;
  right: 0;
}
.banner {
  margin-top:-44px;
}
#logo {
    margin: 15px 0 20px 5px;
  }
.inner-wrapper {
  top: -10px;
}
.filter-options .dealers-found, .filter-options .filter-results{
  font-size: 80%;
}
.filter{
  display: block;
  background-color:#F6F6F6;
  padding:10px;
  top:0;
  height: auto;
  margin:0;
  max-width: 100%
}
.filter .filter-services {
  margin:10px;
  background-color:#FFF;
}
.filter-commercial {
  padding: 0;
  background-size:20px;
  background-position: 140px;
}
.filter .filter-services label{
  display: block;
  text-align: left;
  margin: 10px;
  padding-left: 35px;
}
.social i{
  padding:3%;
}
.pool-contact div.mobile-phone {

}
.pool-contact div.mobile-phone .phone{
  background: url(assets/images/phone-icon-mobile.png) no-repeat;
  background-size: 30px;
  background-position: 5px;
  margin:10px auto;
  color:#fff;
  background-color: #2870DC;
  width:45%;
  padding-left: 30px;
  font-size:50%;
}

.modal-form .phone input {
  width:85%
}
.modal-form .phone{
  width: 86%;
}
.mobile-menu {
  display: block;
  margin: auto;
  width: 100%;
  border-top: 4px solid #21C4C3;
  border-bottom: 4px solid #21C4C3;
  height: 350px;
  position: absolute;
  z-index: 9999;
  top: 0;
  background-color: #fff;
}
.mobile-menu .close{
  color: #21C4C3;
  text-align: right;
  height: 6px;
  padding: 20px 20px 20px 0;
  font-weight: bolder;
  font-size:150%;
  cursor: pointer;
}
.mobile-menu div.menu {
  text-align: center;
  font-weight: bolder;
  font-size:120%;
  color: #0E408A;
  margin: 0 0 20px 0;
}
.mobile-menu div.menu, .mobile-menu-tabs{
    float: right;
    background: white;
    width: 100%;
    position: relative;
    border-radius: 3px;
    padding: 10px 0 0 0;
}
.mobile-menu-tabs {
  background-color: #F6f6f6;
}
.mobile-menu-tabs li{
  margin: 0px auto;
  padding: 20px 20px 20px 20px;
  border-bottom: 2px solid #FFF;
  background: url(assets/images/next-arrow.png) no-repeat;
  background-size:10%;
  background-size: 15px;
  background-position: 90%;
  height: 17px;
  cursor: pointer;

}
.mobile-menu-tabs li:last-child{
  border-bottom: none;
}
span.phone:before {
  content: "Tap to call";
  padding-right: 10px;
  font-size: 70%;
}
div.installation{
	background-size: 15px;
  background-position: 20px;
}
div.service{
	background-size: 15px;
	text-align: left;
	padding-left:45px;
  background-position: 20px;
}
div.residential{
	background-size: 15px;
  background-position: 20px;
}
div.commercial{
	background-size: 15px;
  background-position: 20px;
}
.pool-footer {
  height:120px;
}
.pool-services div{
  width:auto;
  float:none;
}

}
